* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(75, 75, 75);
  color: white;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid white;
}

th {
  text-align: center;
}

tr,
th,
td {
  padding: 0.25rem 0.5rem;
}
